#profile_leftPanel {<!-- w  w  w.j  a va2  s . co  m-->
  width: 150px;
  float: left;
  border-right: 1px solid #666;
  margin-right: 20px;
}

#profile_rightPanel_center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#recentStatus {
  width: 400px;
  text-align: center;
  display: inline;
}